body {
    text-align: center;
    background-image: url ('https://www.google.com/search?q=fondos&sxsrf=APq-WBuQ8kGJSf4dOs80i7H_LOd4aw9dsQ:1646852588765&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjMg7P827n2AhVIqJUCHcwDCZkQ_AUoAXoECAEQAw&biw=1536&bih=721&dpr=2.5#imgrc=EOEwR8MVewmZuM');
}
h1 {
    color:olive;
}
img {
    width:400px;
}
#thirdDiv {
    text-align: center;
    height: 600px;
    width: 500px;
    color:gray;
    padding: 50px;
    border: 1px thick double black;
}
#spanId {
    text-align: center;
    font-size: 18px;
    margin: 50px;            
}